@using WebMatrix.Data
@{
    Layout = "~/Shared/_Header.cshtml";
    Page.Title = "Gegevens";
    // zorgt voor de pagina titel en de layout.

    var voornaam = "";
    var tussenvoegsel = "";
    var achternaam = "";
    var email = "";
    var telefoonnummer = "";
    var straat = "";
    var huisnummer = "";
    var postcode = "";
    var woonplaats = "";
    var land = "";
    var opmerking = "";
    var incheck_datum = "";
    var uitcheck_datum = "";
    var aantal_volwassenen = "";
    var aantal_kinderen = "";
    var huisdier = "";
    var prijs = 0;
    // Variabelen Die nodig zijn voor de invoer van de gegevens in de database.

    if (Session["voornaam"] != null)
    {
        voornaam = (string)Session["voornaam"];
    }
    if (Session["tussenvoegsel"] != null)
    {
        tussenvoegsel = (string)Session["tussenvoegsel"];
    }
    if (Session["achternaam"] != null)
    {
        achternaam = (string)Session["achternaam"];
    }
    if (Session["email"] != null)
    {
        email = (string)Session["email"];
    }
    if (Session["telefoonnummer"] != null)
    {
        telefoonnummer = (string)Session["telefoonnummer"];
    }
    if (Session["straat"] != null)
    {
        straat = (string)Session["straat"];
    }
    if (Session["huisnummer"] != null)
    {
        huisnummer = (string)Session["huisnummer"];
    }
    if (Session["postcode"] != null)
    {
        postcode = (string)Session["postcode"];
    }
    if (Session["woonplaats"] != null)
    {
        woonplaats = (string)Session["woonplaats"];
    }
    if (Session["land"] != null)
    {
        land = (string)Session["land"];
    }
    if (Session["opmerking"] != null)
    {
        opmerking = (string)Session["opmerking"];
    }
    if (Session["incheck_datum"] != null)
    {
        incheck_datum = (string)Session["incheck_datum"];
    }
    if (Session["uitcheck_datum"] != null)
    {
        uitcheck_datum = (string)Session["uitcheck_datum"];
    }
    if (Session["aantal_volwassenen"] != null)
    {
        aantal_volwassenen = (string)Session["aantal_volwassenen"];
    }
    if (Session["aantal_kinderen"] != null)
    {
        aantal_kinderen = (string)Session["aantal_kinderen"];
    }
    if (Session["huisier"] != null)
    {
        huisdier = (string)Session["huisdier"];
    }
    if (Session["prijs"] != null)
    {
        prijs = (int)Session["prijs"];
    }
    // Voor het tijdelijk opslaan en het laten zien van de ingevoerde gegevens.
    if (IsPost && Validation.IsValid())
    {
        voornaam = Request.Form["voornaam"];
        tussenvoegsel = Request.Form["tussenvoegsel"];
        achternaam = Request.Form["achternaam"];
        email = Request.Form["email"];
        telefoonnummer = Request.Form["telefoonnummer"];
        straat = Request.Form["straat"];
        huisnummer = Request.Form["huisnummer"];
        postcode = Request.Form["postcode"];
        woonplaats = Request.Form["woonplaats"];
        land = Request.Form["land"];
        opmerking = Request.Form["opmerking"];
        incheck_datum = Request.Form["incheck_datum"];
        uitcheck_datum = Request.Form["uitcheck_datum"];
        aantal_volwassenen = Request.Form["aantal_volwassenen"];
        aantal_kinderen = Request.Form["aantal_kinderen"];
        huisdier = Request.Form["huisdier"];
    }

}

<!DOCTYPE html>
<html>

<head>
    
</head>

<body class="bg-light">
  
    <div class="py-5">
        <div class="container" align="center">
            <div class="row">
                <div class="text-center col-md-12">
                    <h1>Uw Reservering</h1>
                </div>
                @* Header tekst. *@
            </div>
            <div class="col-lg-4 col-md-6 p-3"></div>
            <div class="col-lg-6 p-3">
                <div class="card bg-light">
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col-8 col-md-12">
                                <h3 class="">Uw gegevens</h3>
                                @* Header tekst. *@
                                <h6>Persoonlijke gegevens</h6>
                                @* Header tekst. *@
                                <div class="row">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group pl-3">
                            <li class="list-group-item"><b>Naam: &nbsp;</b>@Session["voornaam"]</li>

                            <li class="list-group-item"><b>Tussenvoegsel: &nbsp;</b>@Session["tussenvoegsel"]</li>

                            <li class="list-group-item"><b>Achternaam: &nbsp;</b>@Session["achternaam"]</li>

                            <li class="list-group-item"><b>Email:&nbsp;</b>@Session["email"]</li>

                            <li class="list-group-item"><b>Straat:&nbsp;</b>@Session["straat"]</li>

                            <li class="list-group-item"><b>Huisnummer:&nbsp;</b>@Session["huisnummer"]</li>

                            <li class="list-group-item"><b>Woonplaats:&nbsp;</b>@Session["woonplaats"]</li>

                            <li class="list-group-item"><b>Postcode:&nbsp;</b>@Session["postcode"]</li>

                            <li class="list-group-item"><b>Telefoonnummer:&nbsp;</b>@Session["telefoonnummer"]</li>

                            <li class="list-group-item"><b>Land:&nbsp;</b>@Session["land"]</li>
                            <br>
                            <h5>Reservering</h5>
                            <li class="list-group-item"><b>Opmerking &nbsp;</b>@Session["opmerking"]</li>

                            <li class="list-group-item"><b>Incheckdatum: &nbsp;</b>@Session["incheck_datum"]</li>

                            <li class="list-group-item"><b>uitcheckdatum: &nbsp;</b>@Session["uitcheck_datum"]</li>

                            <li class="list-group-item"><b>Aantal Volwassenen: &nbsp;</b>@Session["aantal_volwassenen"]</li>

                            <li class="list-group-item"><b>Aantal Kinderen: &nbsp;</b>@Session["aantal_kinderen"]</li>

                            <li class="list-group-item"><b>Huisdieren:&nbsp;</b>@Session["huisdier"]</li>

                            <li class="list-group-item"><b>Prijs: &nbsp;</b>€@Session["prijs"]</li>
                            @* Laat de ingevulde gegevens zien. *@
                        </ul> <a class="btn mt-3 btn-warning w-100" href="ReservationComplete.cshtml?status=ok">Bevestig</a>
                        @* Bevestigt de reservatie, en voegt de gegevens toe aan de database. *@
                        <a class="btn mt-3 btn-warning w-100" href="ReservationComplete.cshtml?status=cancel">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

   

</body>
</html>