@using WebMatrix.Data;

@{
    Layout = "~/Shared/_Header.cshtml";
    Page.Title = "Reservatie";
    // zorgt voor de pagina titel en de layout.

    Validation.RequireField("voornaam", "Voornaam is verplicht");
    Validation.RequireField("achternaam", "Achternaam is verplicht");
    Validation.RequireField("email", "Email is verplicht");
    Validation.RequireField("telefoonnummer", "Telefoonnummer is verplicht");
    Validation.RequireField("straat", "Straat is verplicht");
    Validation.RequireField("huisnummer", "Huisnummer is verplicht");
    Validation.RequireField("postcode", "Postcode is verplicht");
    Validation.RequireField("woonplaats", "Plaats is verplicht");
    Validation.RequireField("land", "Land is verplicht");
    Validation.RequireField("incheck_datum", "Incheck datum is verplicht");
    Validation.RequireField("uitcheck_datum", "Uitcheck datum is verplicht");
    Validation.RequireField("aantal_volwassenen", "Aantal volwassenen is verplicht en mag maximaal 4 personen zijn");
    Validation.RequireField("aantal_kinderen", "Aantal kinderen is verplicht en mag maximaal 3 personen zijn");
    Validation.RequireField("aantal_nachten", "Aantal nachten is verplicht.");
    Validation.RequireField("huisdier", "Geef aan of u een huisdier wilt meenemen");

    //Laat een bericht zien als een veld niet ingevuld is door middel van @Html.ValidationMessage.

    bool isEmpty = Request.Form["aantal_nachten"].IsEmpty() || Request.Form["aantal_wolwassenen"].IsEmpty() || Request.Form["aantal_kinderen"].IsEmpty();
    int een = Request.Form["aantal_nachten"].AsInt();
    int twee = Request.Form["aantal_volwassenen"].AsInt();
    int drie = Request.Form["aantal_kinderen"].AsInt();
    int result = 0;
    result = ((een * twee) * 35) + ((een * drie) * 25);
    int prijs = result;

    if (IsPost && Validation.IsValid())
    {
        if (Request.UrlReferrer.AbsolutePath == Request.Url.AbsolutePath)
        {
            Session["voornaam"] = Request.Form["voornaam"];
            Session["tussenvoegsel"] = Request.Form["tussenvoegsel"];
            Session["achternaam"] = Request.Form["achternaam"];
            Session["email"] = Request.Form["email"];
            Session["telefoonnummer"] = Request.Form["telefoonnummer"];
            Session["straat"] = Request.Form["straat"];
            Session["huisnummer"] = Request.Form["huisnummer"];
            Session["postcode"] = Request.Form["postcode"];
            Session["woonplaats"] = Request.Form["woonplaats"];
            Session["land"] = Request.Form["land"];
            Session["opmerking"] = Request.Form["opmerking"];
            Session["incheck_datum"] = Request.Form["incheck_datum"];
            Session["uitcheck_datum"] = Request.Form["uitcheck_datum"];
            Session["aantal_volwassenen"] = Request.Form["aantal_volwassenen"];
            Session["aantal_kinderen"] = Request.Form["aantal_kinderen"];
            Session["aantal_nachten"] = Request.Form["aantal_nachten"];
            Session["huisdier"] = Request.Form["huisdier"];
            Session["prijs"] = prijs;

            Response.Redirect("~/Gegevenspage.cshtml");

            // Vraagt de gegevens op uit de ingevoerde velden, en verwijst naar de gegevenspagina.
        }
    }

}


<!DOCTYPE html>
<html>

<head>

    <script>
        $(function () {
            $("#datepicker1").datepicker();
        });
    </script>
    <script>
        $(function () {
            $("#datepicker2").datepicker();
        });
    </script>
    <script>
        $(function () {
            $("#datepicker3").datepicker();
        });
    </script>
    @* Laat de 3 kalanders/datepickers zien. *@
</head>

<body class="bg-light">

    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="display-4">Reserveren</h1>
                    @* Header tekst. *@
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container">
            <form class="needs-validation" method="post" novalidate="">
                <div class="row">
                    <div class="col-md-4 order-md-2">
                        <h4 class="d-flex justify-content-between mb-3"> <span class="text-muted">Gegevens</span> </h4>
                        <br />
                        <div id="datepicker1"></div><br />
                        <div class="row">
                            <div class="col-md-6">
                                <h6 class="">Incheckdatum:<input name="incheck_datum" value="@Request["incheck_datum"]" type="text" id="datepicker2" class="form-control"></h6>
                                @Html.ValidationMessage("incheck_datum", new { @style = "color:red" })
                                @* Vraaggt de incheckdatum op door middel van de datepicker. *@
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-14">
                                    <h6 class="">Uitcheckdatum:<input name="uitcheck_datum" value="@Request["uitcheck_datum"]" type="text" id="datepicker3" class="form-control"></h6>
                                    @Html.ValidationMessage("uitcheck_datum", new { @style = "color:red" })
                                    @* Vraaggt de checkout-datum op door middel van de datepicker. *@
                                </div>
                            </div>
                        </div>
                        @* ------------------------------------------------------------------- *@
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <h6>Volwassenen: €35 per nacht.</h6>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-14">
                                    <h6>Kinderen(0-16): €25 per nacht.</h6>
                                </div>
                            </div>
                            @* ------------------------------------------------------------- *@
                            <div class="row">
                                <div class="col-md-6">
                                    <h6 class="">Volwassenen:(Max. 4)<input name="aantal_volwassenen" placeholder="max 4" value="@Request["aantal_volwassenen"]" type="number" min="1" max="4" id="" class="form-control"></h6>
                                    @Html.ValidationMessage("aantal_volwassenen", new { @style = "color:red" })
                                    @* Veld om het aantal personen in te vullen.*@
                                </div>
                                <div class="col-md-6">
                                    <h6 class="">Kinderen:(Max. 3)<input name="aantal_kinderen" placeholder="max 3" value="@Request["aantal_kinderen"]" type="number" min="0" max="3" id="" class="form-control"></h6>
                                    @Html.ValidationMessage("aantal_kinderen", new { @style = "color:red" })
                                    @* Veld om het aantal personen in te vullen.*@
                                </div>
                                <div class="col-md-6">
                                    <h6 class="">Aantal Nachten:<input name="aantal_nachten" value="" type="number" id="" class="form-control"></h6>
                                    @Html.ValidationMessage("aantal_nachten", new { @style = "color:red" })
                                    @* Veld om het aantal personen in te vullen.*@
                                </div>
                                <div class="col-md-6">

                                    <h6 class="">
                                        Huisdier:
                                        <select name="huisdier" class="form-control">
                                            <option value="ja">Ja</option>
                                            <option value="nee">Nee</option>
                                        </select>
                                    </h6>

                                </div>
                            </div>

                        </div>
                    </div>

                        <div class="col-md-8 order-md-1">
                            <h4 class="mb-3">Persoonlijke gegevens</h4>
                            <div class="row">
                                <div class="col-md-4 mb-3" style="">
                                    <label for="firstName">Voornaam:</label>
                                    <input type="text" name="voornaam" class="form-control" id="firstName" placeholder="" value="@Request["voornaam"]" required="">
                                    @Html.ValidationMessage("voornaam", new { @style = "color:red" })
                                    @* Veld om een voornaam in te vullen.*@
                                </div>
                                <div class="col-md-4 mb-3" style="">
                                    <label for="tussenvoegsel">Tussenvoegsel:</label>
                                    <input type="text" name="tussenvoegsel" class="form-control" id="infix" placeholder="" value="@Request["tussenvoegsel"]" required="">
                                    @* Veld om een (niet verplicht) tussenvoegsel in te vullen.*@
                                </div>
                                <div class="col-md-4 mb-3" style="">
                                    <label for="lastName">Achternaam:</label>
                                    <input type="text" name="achternaam" class="form-control" id="lastName" placeholder="" value="@Request["achternaam"]" required="">
                                    @Html.ValidationMessage("achternaam", new { @style = "color:red" })
                                    @* Veld om een achternaam in te vullen.*@
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email" contenteditable="false">Email:<span class="text-muted"></span></label>
                                <input type="email" name="email" class="form-control" id="email" placeholder="" value="@Request["email"]">
                                @Html.ValidationMessage("email", new { @style = "color:red" })
                                @* Veld om een email in te vullen.*@
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-12 mb-3">
                                        <label for="straat">Straat:</label>
                                        <input type="text" name="straat" class="form-control" id="straat" placeholder="" value="@Request["straat"]" required="">
                                        @Html.ValidationMessage("straat", new { @style = "color:red" })
                                        @* Veld om een straatnaam in te vullen.*@
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-12 mb-3">
                                        <label for="huisnummer">Huisnummer:</label>
                                        <input type="text" name="huisnummer" class="form-control" id="huisnummer" placeholder="" value="@Request["huisnummer"]" required="">
                                        @Html.ValidationMessage("huisnummer", new { @style = "color:red" })
                                        @* Veld om een huisnummer in te vullen.*@
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <div class="invalid-feedback" style=""></div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-12 mb-3">
                                                <label for="woonplaats">Woonplaats:</label>
                                                <input type="text" name="woonplaats" class="form-control" id="woonplaats" placeholder="" value="@Request["woonplaats"]" required="">
                                                @Html.ValidationMessage("woonplaats", new { @style = "color:red" })
                                                @* Veld om een woonplaats in te vullen.*@
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-12 mb-3">
                                                <label for="postcode">Postcode:</label>
                                                <input type="text" name="postcode" class="form-control" id="postcode" placeholder="" value="@Request["postcode"]" required="">
                                                @Html.ValidationMessage("postcode", new { @style = "color:red" })
                                                @* Veld om een postcode in te vullen.*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-12 mb-3" style="">
                                                <label for="telefoonnummer">Telefoonnummer:</label>
                                                <input type="text" name="telefoonnummer" class="form-control" id="telefoonnummer" placeholder="" value="@Request["telefoonnummer"]" required="">
                                                @Html.ValidationMessage("telefoonnummer", new { @style = "color:red" })
                                                @* Veld om een telefoonnummer in te vullen.*@
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-12 mb-3">
                                                <label for="land">Land:</label>
                                                <input type="text" name="land" class="form-control" id="land" placeholder="" value="@Request["land"]" required="">
                                                @Html.ValidationMessage("land", new { @style = "color:red" })
                                                @* Veld om een land in te vullen.*@
                                            </div>
                                        </div>
                                    </div>
                                          <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-2">Opmerking:</label>
                                                <div class="col-10"><textarea class="form-control" name="opmerking" value="@Request["opmerking"]" id="form35" rows="3" placeholder="Vul hier uw eventuele opmerking"></textarea></div>
                                                @* Een opmerkingenveld. *@
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <button class="btn btn-warning btn-lg btn-block" name="SubmitButton" type="submit">Reserveer</button>
                            @* De verstuur knop die je naar de volgende pagina stuurt. *@
                        </div>
                    </div>
            </form>
        </div>
    </div>

</body>

</html>
